<footer id="footer">
  <section>
    <form method="POST" action="https://formspree.io/{{site.email}}">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://twitter.com/{{site.twitter}}"><i class="fab fa-twitter"></a></li>
        <li><a href="https://facebook.com/{{site.facebook}}"><i class="fab fa-facebook"></a></li>
        <li><a href="https://instagram.com/{{site.instagram}}"><i class="fab fa-instagram"></a></li>
        <li><a href="https://linkedin.com/{{site.linkedin}}"><i class="fab fa-linkedin"></a></li>
        <li><a href="https://patreon.com/{{site.patreon}}"><i class="fab fa-patreon"></a></li>
        <li><a href="mailto:{{site.email}}"><i class="fas fa-envelope"></a></li>
      </ul>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; Thomas Goodwin</li></ul>
</div>
